<footer>
  <div class="details">
    <h1>Contacto</h1>
    <p>
      Superintendencia de Seguros de la Nación - Órgano de Control de la
      Actividad Aseguradora y Reaseguradora.
      <br />
      0800-666-8400 - www.ssn.gob.ar - Nº de Matricula: 93955
    </p>
  </div>
  <div class="contact-info">
    <div class="field">
      <fa-icon class="icon" [icon]="faHome"></fa-icon>
      <p class="description">Brown 154 - 2609 Maria Teresa - Santa Fe</p>
    </div>
    <div class="field">
      <fa-icon class="icon" [icon]="faPhone"></fa-icon>
      <p class="description">03462 665170</p>
    </div>
    <div class="field">
      <fa-icon class="icon" [icon]="faEnvelope"></fa-icon>
      <a
        href="mailto:morrogerardoj@gmail.com"
        target="_blank"
        class="description"
      >
        morrogerardoj@gmail.com</a
      >
    </div>
    <div class="field">
      <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
      <a
        href="https://facebook.com/abalse.mariateresa.9"
        target="_blank"
        class="description"
        >facebook.com/abalse.mariateresa.9</a
      >
    </div>
  </div>
</footer>
